body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

.profile-likes{
  display: inline-block
}

#bootstrap-overide .navbar-brand{
  width: fit-content;
}

#bootstrap-overide .col-sm-6{
}

.profile-likes{
 display: block;
 width: max-content;
}

.postImg{
  width: 500px;
}

.userprofile{
  font-size: 15px;
}

.makeComment{
  display: block;
}